@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arimo:wght@600&family=Lato&family=Lora:ital,wght@1,500&family=Merriweather:wght@300&family=Noto+Sans:wght@300&family=Open+Sans&family=Poppins:wght@200&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #040d12;
    color: aliceblue;
}

.social__links {
    padding: 30px 60px;
    background: #131313;
    border-radius: 10px;

    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.social__links::before, .social__links::after {
    content: " ";
    position: absolute;

    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #2a0845, #6441a5);
    filter: blur(30px);
}

.social__links::before {
    left: -30px;
}

.social__links::after {
    right: -10px;
}

.social__links h4 {
    font-size: 32px;
    margin-right: 50px;
}

.social__links .links {
    display: flex;
    flex-direction: column;
}

.social__links .links a {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 8px 10px;

    width: 145px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    margin: 5px;
    border: 2px solid rgb(95, 95, 95);
    transition: transform 0.4s, background 0.4s, opacity 0.4s;
}

.social__links .links a:nth-child(1) {
    transform: rotate(-10deg) translateY(30px);
}

.social__links .links a:nth-child(2) {
    transform:  rotate(0) translateY(0);
    z-index: 1;
}